/* @import url("Reset.css"); */
/* @import url("./css/Keyframes"); */
@import url("./css/Popup.css");
@import url("./css/Card.css");
@import url("./css/Menu.css");

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   position: relative;
   font-family: "Kanit", sans-serif;
   min-height: 100vh;
   background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}

main {
   margin: 0 auto;
   width: 100vw;
   height: 80vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
}

nav {
   height: 100%;
}
.section1 {
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-direction: column;
   width: 20%;
   height: 100%;
}
.show {
   display: flex;
}

.section3 {
   /* display: none; */
   height: 100%;
   width: 40%;
}

/* GLASSMORPHISM */

.glass {
   background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.5)
   );
   border-radius: 1rem;
   z-index: 0;
   backdrop-filter: blur(0.2rem);
}

.glass2 {
   background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.4)
   );
   border-radius: 1rem;
   z-index: 0;
   backdrop-filter: blur(0.2rem);
}

/* Background Circle */

.circle1,
.circle2 {
   position: absolute;
   background: white;
   background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.3)
   );

   border-radius: 50%;
}

/* Circles */

.circle1 {
   height: 20rem;
   width: 20rem;
   top: 3%;
   right: 5%;
   background-color: rgb(255, 43, 135);
}

.circle2 {
   position: absolute;
   top: 30%;
   left: -10%;
   background-color: rgb(255, 43, 135);
   height: 40rem;
   width: 40rem;
   z-index: -1;
}

@media screen and (max-width: 1000px) {
   main {
      height: 100vh;
      justify-content: space-between;
      flex-direction: column;
   }

   /* Main Containers */

   main .section1 {
      height: 1%;
      z-index: 2;
   }
   main .section2 {
      position: absolute;
      top: 8%;
      right: 0;
      height: 90%;
      width: 35%;
   }
   main .section3 {
      order: 1;
      width: 65%;
      height: 70%;
      flex-direction: column;
      position: absolute;
      top: 15%;
      left: 0;
   }

   /* Navigation and Logo */

   header.quote h1 {
      display: none;
   }

   nav {
      flex-direction: column;
      justify-content: space-evenly;
      width: 30%;
      height: 10%;
   }

   .logo {
      position: absolute;
      top: 0;
      left: 0;
      height: 10%;
   }
   .open {
      display: block;
      font-size: 3rem;
      color: #333;
      font-weight: 900;
   }

   ul {
      display: none;
      z-index: 100;
   }

   .flag img {
      width: 6vh;
      height: 6vh;
   }

   .lang {
      font-size: 1.6rem;
   }

   button.button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      height: 50%;
      font-size: 1rem;
      font-weight: 800;
   }

   /* Flag */

   .section2 .icon .png {
      width: 100%;
      height: 40%;
   }

   /* Card */

   .card1 {
      width: 90%;
   }

   /* Circles */

   .circle1 {
      height: 300px;
      width: 300px;
   }
   .circle2 {
      left: -20%;
      top: 40%;
      height: 500px;
      width: 500px;
   }
}
