/* @import url("Reset.css"); */
/* @import url("./css/Keyframes"); */
@import url("./css/Popup.css");
@import url("./css/Card.css");
@import url("./css/Menu.css");

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   position: relative;
   font-family: "Kanit", sans-serif;
   height: 100vh;
   background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}

main {
   margin: 0 auto;
   width: 100vw;
   height: 80vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
}
.section1 {
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-direction: column;
   width: 20%;
   height: 100%;
}
.show {
   display: block;
}

.section3 {
   /* display: none; */
   height: 100%;
   width: 40%;
}

/* GLASSMORPHISM */

.glass {
   background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.5)
   );
   border-radius: 1rem;
   z-index: 0;
   backdrop-filter: blur(0.2rem);
}

.glass2 {
   background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.4)
   );
   border-radius: 1rem;
   z-index: 0;
   backdrop-filter: blur(0.2rem);
}

/* Background Circle */

.circle1,
.circle2 {
   position: absolute;
   background: white;
   background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.3)
   );

   border-radius: 50%;
}

.circle1 {
   height: 20rem;
   width: 20rem;
   top: 3%;
   right: 5%;
   background-color: rgb(255, 43, 135);
}

.circle2 {
   position: absolute;
   top: 30%;
   left: -10%;
   background-color: rgb(255, 43, 135);
   height: 40rem;
   width: 40rem;
   z-index: -1;
}

.circle1.night,
.circle2.night {
   background-color: rgb(134, 74, 255);
}

.maincolor {
   background-color: black;
   color: white;
}

@media screen and (max-width: 900px) {
   main {
      height: 180vh;
      flex-direction: column;
   }

   .section1 {
      position: absolute;
      top: -10%;
      margin-top: 4rem;
      width: 120%;
      height: 70vh;
      justify-content: space-between;
      flex-direction: column;
      z-index: 2;
   }

   .op {
      display: block;
      font-size: 3rem;
      color: #333;
      font-weight: 900;
      position: absolute;
      top: 60%;
      left: 47%;
   }

   ul {
      display: none;
   }

   nav {
      margin-top: 2rem;
      flex-direction: column;
      justify-content: space-evenly;
      width: 70%;
      height: 80vh;
   }

   li {
      width: 60%;
      height: 5vh;
      margin: 0.4rem auto;
   }

   main .section2 {
      position: absolute;
      top: 95%;
      left: 30;
      height: 70vh;
      width: 80%;
      flex-direction: row;
   }

   .section2 .boards {
      height: 50vh;
      max-height: 40vh;
   }

   .section2 .panel {
      order: 2;
      height: 100%;
   }

   .section3 {
      margin-top: 7rem;
      order: 1;
      width: 100%;
      flex-direction: column;
      position: absolute;
      top: 0;
      left: 0;
   }

   .section3 .words {
      flex-direction: column;
      width: 100%;
      margin-bottom: 3rem;
   }

   .flag img {
      width: 10vh;
      height: 10vh;
   }
   header.quote h1 {
      display: none;
   }

   button.button {
      width: 60%;
   }

   .logo {
      position: absolute;
      top: 0;
      left: 0;
   }

   .section1 ul {
      backdrop-filter: blue(0.3rem);
      background-color: #89f7fe;
      border: 4px solid white;
   }
}
