/* ADD WORD WINDOW */

.add {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 80%;
   justify-content: space-between;

   border-radius: 10px;
   box-shadow: 0 0 50px 10px rgb(195, 195, 195);
   z-index: 100;
}

.add button {
   width: 70%;
   margin: 1rem;
   font-size: 1rem;
   font-weight: 700;
   border-radius: 7px;
   padding: 1rem 2rem;
   border: none;
   text-decoration: none;
   background: #0069ed;
   color: #ffffff;
   font-family: sans-serif;
   cursor: pointer;
   transition: 0.3s;
}

.add button:hover {
   color: white;
   background-color: #0154b9;
}

.add .form {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.add .top {
   height: 5%;
   width: 100%;
   margin: 0.5rem;
   color: #333;
}

.add .header {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 60%;
   width: 100%;
}

.add .title {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: black;
   font-weight: 700;
}

.add .title h1 {
   font-size: 2.5rem;
   margin-bottom: 1rem;
}
.add .title p {
   text-align: center;
   color: black;
   font-size: 1rem;
}

.add .footer {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 15%;
   margin: 2rem;
}

.add .footer p {
   text-align: center;
   font-style: italic;
   color: rgb(9, 9, 9);
   font-weight: 300;
   font-size: 0.9rem;
   height: 40%;
   width: 50%;
}

.add .header .inp1,
.add .header .inp2 {
   width: 70%;
   height: 15vh;
   margin: 1rem;
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-direction: column;
}
.add .header .form {
   width: 100%;
}

.add .header .inp1 p,
.add .header .inp2 p {
   margin: 0.5rem;
   color: black;
   font-size: 1.5rem;
   font-weight: 700;
}

.add .header .inp1 input,
.add .header .inp2 input {
   border: 1px solid rgb(200, 200, 200);
   height: 40px;
   width: 100%;
   border-radius: 5px;
   font-size: 1.5rem;
}

.add .top span {
   font-weight: 700;
   margin: 1rem;
   font-size: 1.5rem;
   cursor: pointer;
}

.x {
   color: black;
}

.add.off {
   display: none;
}

@media screen and (min-width: 780px) {
   .add {
      max-width: 400px;
      margin: 0 auto;
   }
}

@media screen and (min-width: 980px) {
   .add {
      max-width: 500px;
      margin: 0 auto;
   }
}
