/* MENU */

nav {
   width: 70%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   /* border: 3px solid greenyellow; */
}
/* MENU */

.logo {
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-direction: row;
   font-family: "Gaegu", cursive;
   font-size: 1.4rem;
   height: 20%;
   width: 100%;
}

.logo img {
   margin-left: 0.5rem;
}

.logo-container {
   display: flex;
   justify-content: center;
   align-items: center;
}

ul {
   display: flex;
   justify-content: center;
   flex-direction: column;
   margin: 0 auto;
   width: 100%;
   height: 70%;
   z-index: 100;
}

li {
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
}

img {
   display: flex;
   align-content: center;
   justify-content: center;
   height: 35px;
   width: 35px;
   cursor: pointer;
   transition: 0.2s ease-in;
}

ul a {
   font-family: "Poppins", sans-serif;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 1rem auto;
   width: 80%;
   height: 10%;
   list-style: none;
   font-size: 0.9rem;
   text-decoration: none;
   text-align: center;
   color: white;
   border: 2px solid black;
   /* box-shadow: 0 4px 5px 1px #ffa3cb; */
   border-radius: 10px;
   background-color: black;
   font-weight: 900;
   cursor: pointer;
   transition: 0.4s;
}

a:hover {
   transform: scale(1.05);
   color: white;
}

.logo-container a {
   color: black;
   font-family: "Poppins", sans-serif;
   text-decoration: none;
   background-color: transparent;
   box-shadow: none;
}
.open {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 50px;
   height: 50px;
   border: 2px solid black;
   background-color: black;
   display: none;
   border-radius: 50%;
}

.open-inside {
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
}

.mobile {
   display: none;
   position: absolute;
   top: 10vh;
   right: 0;
   width: 17vh;
   height: 87vh;
   background-color: #fff;
   border-radius: 10px;
}

.mobile.show {
   display: block;
}

@media screen and (min-width: 880px) {
   .logo {
      font-size: 0.8rem;
   }
   .mobile {
      width: 28vh;
   }
}
@media screen and (min-width: 980px) {
   .logo {
      font-size: 1.1rem;
   }
}

@media screen and (min-width: 1100px) {
   .mobile.show {
      display: none;
   }
}
